@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
    font-size: 1rem;
    position: relative;
    }
    .profile {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        width: 100%;
        max-width: 950px;
        background-color: #1b2028;
        border-radius: 16px;
        position: relative;
        border: 3px solid transparent;
        background-clip: padding-box;
        text-align: center;
        color: #f1f3f3;
        background-image: linear-gradient(
            135deg,
            rgba(#868086, 0.35),
            rgba(#d1c4c8, 0.1) 15%,
            #1b2028 20%,
            #1b2028 100%
        );
        /* &:after {
            content: "";
            display: block;
            top: -3px;
            left: -3px;
            bottom: -3px;
            right: -3px;
            z-index: -1;
            position: absolute;
            border-radius: 16px;
            background-image: linear-gradient(
                135deg,
                #201f20,
                #0e0d0d 20%,
                #1b2028 30%,
                #2c333e 100%
            );
        } */
    }

    .profile-image {
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        position: relative;
        
    }
    
    .profile-username {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    .profile-user-handle {
        color: #7d8396;
    }
    .profile-links {
        margin-top: 3.5rem;
    }
    .profile-introduces {
        margin-left: -60%;
        margin-top: 2%;
        margin-bottom: 1.25%;
    }
    
    .link {
        text-decoration: none;
        color: #7d8396;
        margin-left: 0.375rem;
        margin-right: 0.375rem;
        /* i {
            font-size: 1.25em;
        } */
    }
    .card-body
    {
     
        background-attachment: fixed;
             /* background-position: center; */
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover; 
    }
    .my-form
    {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .my-form .row
    {
        margin-left: 0;
        margin-right: 0;
    }
    .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    }

    /*
    * Sidebar
    */

    .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: rgb(239 242 245);
    }

    .sidebar-sticky {
    position: sticky;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: calc(100vh - 60px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
    font-weight: 700;
    color: #333;
    }
    .nav-item {
       height: 50px;
    }
    .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
    }

    .sidebar .nav-link.active {
    color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
    color: inherit;
    }

    .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
    }

    /*
    * Navbar
    */
    .navbar-brand {
    
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }

    .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    /*
    * Utilities
    */

    .border-top { border-top: 1px solid #e5e5e5; }
    .border-bottom { border-bottom: 1px solid #e5e5e5; }

  

    /* row */
    #rowid.row {
    display: grid;
    grid-template-columns: 1fr 6fr repeat(2, 0fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

    .codepro-custom-btn{
        width:130px;height:40px;color:#fff;border-radius:5px;padding:10px 25px;font-family:'Lato',sans-serif;font-weight:500;background:transparent;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);outline:none}.codepro-btn-1{background:rgb(6,14,131);background:linear-gradient(0deg,rgba(6,14,131,1) 0%,rgba(12,25,180,1) 100%);border:none
    }
    .codepro-btn-1:hover{background:rgb(0,3,255);background:linear-gradient(0deg,rgba(0,3,255,1) 0%,rgba(2,126,251,1) 100%)}.codepro-btn-2{background:rgb(96,9,240);background:linear-gradient(0deg,rgba(96,9,240,1) 0%,rgba(129,5,240,1) 100%);border:none}.codepro-btn-2:before{height:0%;width:2px}.codepro-btn-2:hover{box-shadow:4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116,125,136,.5),inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0,0,0,.4)}.codepro-btn-3{background:rgb(0,172,238);background:linear-gradient(0deg,rgba(0,172,238,1) 0%,rgba(2,126,251,1) 100%);width:130px;height:40px;line-height:42px;padding:0;border:none}.codepro-btn-3 span{position:relative;display:block;width:100%;height:100%}.codepro-btn-3:before,.codepro-btn-3:after{position:absolute;content:"";right:0;top:0;background:rgba(2,126,251,1);transition:all 0.3s ease}.codepro-btn-3:before{height:0%;width:2px}.codepro-btn-3:after{width:0%;height:2px}.codepro-btn-3:hover{background:transparent;box-shadow:none}.codepro-btn-3:hover:before{height:100%}.codepro-btn-3:hover:after{width:100%}.codepro-btn-3 span:hover{color:rgba(2,126,251,1)}.codepro-btn-3 span:before,.codepro-btn-3 span:after{position:absolute;content:"";left:0;bottom:0;background:rgba(2,126,251,1);transition:all 0.3s ease}.codepro-btn-3 span:before{width:2px;height:0%}.codepro-btn-3 span:after{width:0%;height:2px}.codepro-btn-3 span:hover:before{height:100%}.codepro-btn-3 span:hover:after{width:100%}.codepro-btn-4{background-color:#4dccc6;background-image:linear-gradient(315deg,#4dccc6 0%,#96e4df 74%);line-height:42px;padding:0;border:none}.codepro-btn-4:hover{background-color:#89d8d3;background-image:linear-gradient(315deg,#89d8d3 0%,#03c8a8 74%)}.codepro-btn-4 span{position:relative;display:block;width:100%;height:100%}.codepro-btn-4:before,.codepro-btn-4:after{position:absolute;content:"";right:0;top:0;box-shadow:4px 4px 6px 0 rgba(255,255,255,.9),-4px -4px 6px 0 rgba(116,125,136,.2),inset -4px -4px 6px 0 rgba(255,255,255,.9),inset 4px 4px 6px 0 rgba(116,125,136,.3);transition:all 0.3s ease}.codepro-btn-4:before{height:0%;width:.1px}.codepro-btn-4:after{width:0%;height:.1px}.codepro-btn-4:hover:before{height:100%}.codepro-btn-4:hover:after{width:100%}.codepro-btn-4 span:before,.codepro-btn-4 span:after{position:absolute;content:"";left:0;bottom:0;box-shadow:4px 4px 6px 0 rgba(255,255,255,.9),-4px -4px 6px 0 rgba(116,125,136,.2),inset -4px -4px 6px 0 rgba(255,255,255,.9),inset 4px 4px 6px 0 rgba(116,125,136,.3);transition:all 0.3s ease}.codepro-btn-4 span:before{width:.1px;height:0%}.codepro-btn-4 span:after{width:0%;height:.1px}.codepro-btn-4 span:hover:before{height:100%}.codepro-btn-4 span:hover:after{width:100%}.codepro-btn-5{width:130px;height:40px;line-height:42px;padding:0;border:none;background:rgb(255,27,0);background:linear-gradient(0deg,rgba(255,27,0,1) 0%,rgba(251,75,2,1) 100%)}.codepro-btn-5:hover{color:#f0094a;background:transparent;box-shadow:none}.codepro-btn-5:before,.codepro-btn-5:after{content:'';position:absolute;top:0;right:0;height:2px;width:0;background:#f0094a;box-shadow:-1px -1px 5px 0 #fff,7px 7px 20px 0 #0003,4px 4px 5px 0 #0002;transition:400ms ease all}.codepro-btn-5:after{right:inherit;top:inherit;left:0;bottom:0}.codepro-btn-5:hover:before,.codepro-btn-5:hover:after{width:100%;transition:800ms ease all}.codepro-btn-6{background:rgb(247,150,192);background:radial-gradient(circle,rgba(247,150,192,1) 0%,rgba(118,174,241,1) 100%);line-height:42px;padding:0;border:none}.codepro-btn-6 span{position:relative;display:block;width:100%;height:100%}.codepro-btn-6:before,.codepro-btn-6:after{position:absolute;content:"";height:0%;width:1px;box-shadow:-1px -1px 20px 0 rgba(255,255,255,1),-4px -4px 5px 0 rgba(255,255,255,1),7px 7px 20px 0 rgba(0,0,0,.4),4px 4px 5px 0 rgba(0,0,0,.3)}.codepro-btn-6:before{right:0;top:0;transition:all 500ms ease}.codepro-btn-6:after{left:0;bottom:0;transition:all 500ms ease}.codepro-btn-6:hover{background:transparent;color:#76aef1;box-shadow:none}.codepro-btn-6:hover:before{transition:all 500ms ease;height:100%}.codepro-btn-6:hover:after{transition:all 500ms ease;height:100%}.codepro-btn-6 span:before,.codepro-btn-6 span:after{position:absolute;content:"";box-shadow:-1px -1px 20px 0 rgba(255,255,255,1),-4px -4px 5px 0 rgba(255,255,255,1),7px 7px 20px 0 rgba(0,0,0,.4),4px 4px 5px 0 rgba(0,0,0,.3)}.codepro-btn-6 span:before{left:0;top:0;width:0%;height:.5px;transition:all 500ms ease}.codepro-btn-6 span:after{right:0;bottom:0;width:0%;height:.5px;transition:all 500ms ease}.codepro-btn-6 span:hover:before{width:100%}.codepro-btn-6 span:hover:after{width:100%}.codepro-btn-7{background:linear-gradient(0deg,rgba(255,151,0,1) 0%,rgba(251,75,2,1) 100%);line-height:42px;padding:0;border:none}.codepro-btn-7 span{position:relative;display:block;width:100%;height:100%}.codepro-btn-7:before,.codepro-btn-7:after{position:absolute;content:"";right:0;bottom:0;background:rgba(251,75,2,1);box-shadow:-7px -7px 20px 0 rgba(255,255,255,.9),-4px -4px 5px 0 rgba(255,255,255,.9),7px 7px 20px 0 rgba(0,0,0,.2),4px 4px 5px 0 rgba(0,0,0,.3);transition:all 0.3s ease}.codepro-btn-7:before{height:0%;width:2px}.codepro-btn-7:after{width:0%;height:2px}.codepro-btn-7:hover{color:rgba(251,75,2,1);background:transparent}.codepro-btn-7:hover:before{height:100%}.codepro-btn-7:hover:after{width:100%}.codepro-btn-7 span:before,.codepro-btn-7 span:after{position:absolute;content:"";left:0;top:0;background:rgba(251,75,2,1);box-shadow:-7px -7px 20px 0 rgba(255,255,255,.9),-4px -4px 5px 0 rgba(255,255,255,.9),7px 7px 20px 0 rgba(0,0,0,.2),4px 4px 5px 0 rgba(0,0,0,.3);transition:all 0.3s ease}.codepro-btn-7 span:before{width:2px;height:0%}.codepro-btn-7 span:after{height:2px;width:0%}.codepro-btn-7 span:hover:before{height:100%}.codepro-btn-7 span:hover:after{width:100%}.codepro-btn-8{background-color:#f0ecfc;background-image:linear-gradient(315deg,#f0ecfc 0%,#c797eb 74%);line-height:42px;padding:0;border:none}.codepro-btn-8 span{position:relative;display:block;width:100%;height:100%}.codepro-btn-8:before,.codepro-btn-8:after{position:absolute;content:"";right:0;bottom:0;background:#c797eb;transition:all 0.3s ease}.codepro-btn-8:before{height:0%;width:2px}.codepro-btn-8:after{width:0%;height:2px}.codepro-btn-8:hover:before{height:100%}.codepro-btn-8:hover:after{width:100%}.codepro-btn-8:hover{background:transparent}.codepro-btn-8 span:hover{color:#c797eb}.codepro-btn-8 span:before,.codepro-btn-8 span:after{position:absolute;content:"";left:0;top:0;background:#c797eb;transition:all 0.3s ease}.codepro-btn-8 span:before{width:2px;height:0%}.codepro-btn-8 span:after{height:2px;width:0%}.codepro-btn-8 span:hover:before{height:100%}.codepro-btn-8 span:hover:after{width:100%}.codepro-btn-9{border:none;transition:all 0.3s ease;overflow:hidden}.codepro-btn-9:after{position:absolute;content:" ";z-index:-1;top:0;left:0;width:100%;height:100%;background-color:#1fd1f9;background-image:linear-gradient(315deg,#1fd1f9 0%,#b621fe 74%);transition:all 0.3s ease}.codepro-btn-9:hover{background:transparent;box-shadow:4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116,125,136,.2),inset -4px -4px 6px 0 rgba(255,255,255,.5),inset 4px 4px 6px 0 rgba(116,125,136,.3);color:#fff}.codepro-btn-9:hover:after{-webkit-transform:scale(2) rotate(180deg);transform:scale(2) rotate(180deg);box-shadow:4px 4px 6px 0 rgba(255,255,255,.5),-4px -4px 6px 0 rgba(116,125,136,.2),inset -4px -4px 6px 0 rgba(255,255,255,.5),inset 4px 4px 6px 0 rgba(116,125,136,.3)}
        
    .codepro-btn-10{background:rgb(22,9,240);background:linear-gradient(0deg,rgba(22,9,240,1) 0%,rgba(49,110,244,1) 100%);color:#fff;border:none;transition:all 0.3s ease;overflow:hidden}
    .codepro-btn-10:after{position:absolute;content:" ";top:0;left:0;z-index:-1;width:100%;height:100%;transition:all 0.3s ease;-webkit-transform:scale(.1);transform:scale(.1)}
    .codepro-btn-10:hover{color:#fff;border:none;background:transparent}
    .codepro-btn-10:hover:after{background:rgb(0,3,255);background:linear-gradient(0deg,rgba(2,126,251,1) 0%,rgba(0,3,255,1)100%);-webkit-transform:scale(1);transform:scale(1)}.codepro-btn-11{border:none;background:rgb(251,33,117);background:linear-gradient(0deg,rgba(251,33,117,1) 0%,rgba(234,76,137,1) 100%);color:#fff;overflow:hidden}.codepro-btn-11:hover{text-decoration:none;color:#fff}.codepro-btn-11:before{position:absolute;content:'';display:inline-block;top:-180px;left:0;width:30px;height:100%;background-color:#fff;animation:shiny-btn1 3s ease-in-out infinite}.codepro-btn-11:hover{opacity:.7}.codepro-btn-11:active{box-shadow:4px 4px 6px 0 rgba(255,255,255,.3),-4px -4px 6px 0 rgba(116,125,136,.2),inset -4px -4px 6px 0 rgba(255,255,255,.2),inset 4px 4px 6px 0 rgba(0,0,0,.2)}@-webkit-keyframes shiny-btn1{0%{-webkit-transform:scale(0) rotate(45deg);opacity:0}80%{-webkit-transform:scale(0) rotate(45deg);opacity:0.5}81%{-webkit-transform:scale(4) rotate(45deg);opacity:1}100%{-webkit-transform:scale(50) rotate(45deg);opacity:0}}
        
    .codepro-btn-12{position:relative;right:20px;bottom:20px;border:none;box-shadow:none;width:130px;height:40px;line-height:42px;-webkit-perspective:230px;perspective:230px}
    .codepro-btn-12 span{background:rgb(22,9,240);background:linear-gradient(0deg,#d34f7b 0%,#eb7b4f 100%);display:block;position:absolute;width:130px;height:40px;box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);border-radius:5px;margin:0;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all .3s;transition:all .3s}
    .codepro-btn-12 span:nth-child(1){box-shadow:-7px -7px 20px 0 #fff9,-4px -4px 5px 0 #fff9,7px 7px 20px 0 #0002,4px 4px 5px 0 #0001;-webkit-transform:rotateX(90deg);-moz-transform:rotateX(90deg);transform:rotateX(90deg);-webkit-transform-origin:50% 50% -20px;-moz-transform-origin:50% 50% -20px;transform-origin:50% 50% -20px}
    .codepro-btn-12 span:nth-child(2){-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:50% 50% -20px;-moz-transform-origin:50% 50% -20px;transform-origin:50% 50% -20px}
    .codepro-btn-12:hover span:nth-child(1){box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);transform:rotateX(0deg)}
    .codepro-btn-12:hover span:nth-child(2){box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);color:transparent;-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);transform:rotateX(-90deg)}
        
    .codepro-btn-17{position:relative;right:20px;bottom:20px;border:none;box-shadow:none;width:130px;height:40px;line-height:42px;-webkit-perspective:230px;perspective:230px}
    .codepro-btn-17 span{background:rgb(22,9,240);background:linear-gradient(0deg,#e39393 0%,rgb(94, 66, 66) 100%);display:block;position:absolute;width:130px;height:40px;box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);border-radius:5px;margin:0;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all .3s;transition:all .3s}
    .codepro-btn-17 span:nth-child(1){box-shadow:-7px -7px 20px 0 #fff9,-4px -4px 5px 0 #fff9,7px 7px 20px 0 #0002,4px 4px 5px 0 #0001;-webkit-transform:rotateX(90deg);-moz-transform:rotateX(90deg);transform:rotateX(90deg);-webkit-transform-origin:50% 50% -20px;-moz-transform-origin:50% 50% -20px;transform-origin:50% 50% -20px}
    .codepro-btn-17 span:nth-child(2){-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:50% 50% -20px;-moz-transform-origin:50% 50% -20px;transform-origin:50% 50% -20px}
    .codepro-btn-17:hover span:nth-child(1){box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);transform:rotateX(0deg)}
    .codepro-btn-17:hover span:nth-child(2){box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),7px 7px 20px 0 rgba(0,0,0,.1),4px 4px 5px 0 rgba(0,0,0,.1);color:transparent;-webkit-transform:rotateX(-90deg);-moz-transform:rotateX(-90deg);transform:rotateX(-90deg)}

   
    .table {
        width: 100%;
    }
    .th {
        width: 5px;
    }

    /* icons */
    .icon-edit {
        background-image: url('../icons/ic_edit.svg');
        display:block;
        width: 20px;
        height: 20px;
        margin-left: 96%;
    }
    .icon-edit-2 {
        background-image: url('../icons/ic_edit_2.svg');
        width: 24px;
        height: 24px;
    }
    .icon-post-friend {
        background-image: url('../icons/ic_post_friend.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-post {
        background-image: url('../icons/ic_post.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-person {
        background-image: url('../icons/ic_person.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-friend {
        background-image: url('../icons/ic_friend.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-profile {
        background-image: url('../icons/ic_profile.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-match {
        background-image: url('../icons/ic_match.svg');
        width: 22px;
        height: 22px;
        display: block;
    }
    .icon-looking {
        background-image: url('../icons/ic_looking.svg');   
        width: 24px;
        height: 24px;
    }
    .icon-local {
        background-image: url('../icons/ic_local.svg'); 
        width: 20px;
        height: 20px;
    }
    .icon-height {
        background-image: url('../icons/ic_height.svg');
        width: 28px;
        height: 28px;
        display: block;
    }
    .icon-company {
        background-image: url('../icons/ic_company.svg');
        width: 24px;
        height: 24px;
        display: block;
    }
    .icon-company-2 {
        background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/XF1fUskiRxe.png');
        width: 24px;
        height: 24px;
        display: block;
    }
    .icon-smoking {
        background-image: url('../icons/ic_smoking.svg');
        width: 28px;
        height: 28px;
        display: block;
    }
    .icon-geo {
        background-image: url('../icons/ic_geo.svg');
        width: 24px;
        height: 24px;
        display: block;
        /* background-color: #fff; */
    }
    .icon-geo-2 {
      background-image: url('../icons/ic_geo_2.svg');
      width: 24px;
      height: 24px;
      display: block;
      /* background-color: #fff; */
    }
    .icon-hobby {
        background-image: url('../icons/ic_hobby.svg');
        width: 24px;
        height: 24px;
        display: block;
    }
    
    .icon-description {
        background-image: url('../icons/ic_description.svg');
        width: 24px;
        height: 24px;
        display: block;
    }
    .icon-name {
        background-image: url('../icons/ic_name.svg');
        width: 24px;
        height: 24px;
        display: block;
    }
    .icon-avatar {
        background-image: url('../icons/ic_avatar.svg');
        width: 24px;
        height: 24px;
        display: block;
    }
    #cl-side{
        margin-left: -15%;
        height: 35px;
        /* background: #fff; */
    }
    #left-cl-side {
        width: 5%;
        height: 100%;
        /* background: #ddd; */
        float: left;
        margin-left: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #right-cl-side {
        width: 85%;
        height: 100%;
        text-align: left;
        /* background: #959595; */
        float: right;
        font-size: medium;
        margin-right: -20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    /* card page match */
      .card2 {
        background-color: #fff;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 2rem;
        box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
        margin-bottom: 2%;
      }
      .card2 .banner2 {
        background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
        /* background-image: url('../image/anh1.jpg'); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;
      }
      .card2 .banner2 .avatar-match {
        background-color: #fff;
        width: 15rem;
        height: 15rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
        border-radius: 50%;
        transform: translateY(50%);
        transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
      }
      .card2 .banner2 img:hover {
        transform: translateY(50%) scale(1.3);
      }
      /* .card2 .menu2 {
        width: 100%;
        height: 5.5rem;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        box-sizing: border-box;
      } */
      /* .card2 .menu2 .opener2 {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        border-radius: 50%;
        transition: background-color 100ms ease-in-out;
      }
      .card2 .menu2 .opener2:hover {
        background-color: #f2f2f2;
      }
      .card2 .menu2 .opener2 span {
        background-color: #404040;
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        top: 0;
        left: calc(50% - 0.2rem);
        border-radius: 50%;
      }
      .card2 .menu2 .opener2 span:nth-child(1) {
        top: 0.45rem;
      }
      .card2 .menu2 .opener2 span:nth-child(2) {
        top: 1.05rem;
      }
      .card2 .menu2 .opener2 span:nth-child(3) {
        top: 1.65rem;
      } */
      .card2 h2.name {
        margin-top: 25%;
        text-align: center;
        padding: 0 2rem 0.5rem;
      }
      .card2 .title {
        color: #a0a0a0;
        font-size: 0.85rem;
        text-align: center;
        padding: 0 2rem 1.2rem;
      }
      .card2 .actions {
        padding: 0 2rem 1.2rem;
        display: flex;
        flex-direction: column;
        order: 99;
      }
      .card2 .actions .follow-info {
        padding: 0 0 1rem;
        display: flex;
      }
      .card2 .actions .follow-info h2 {
        text-align: center;
        width: 35%;
        margin-left: 11%;
        box-sizing: border-box;
      }
      .card2 .actions .follow-info h2 a {
        text-decoration: none;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        transition: background-color 100ms ease-in-out;
      }
      .card2 .actions .follow-info h2 a span {
        color: #1c9eff;
        font-weight: bold;
        transform-origin: bottom;
        transform: scaleY(1.3);
        transition: color 100ms ease-in-out;
      }
      .card2 .actions .follow-info h2 a small {
        color: #afafaf;
        font-size: 0.85rem;
        font-weight: normal;
      }
      .card2 .actions .follow-info h2 a:hover {
        background-color: #f2f2f2;
      }
      .card2 .actions .follow-info h2 a:hover span {
        color: #007ad6;
      }
      .card2 .actions .delete-btn button {
        color: inherit;
        font: inherit;
        font-weight: bold;
        background: linear-gradient(0deg,#e39393 0%,rgb(94, 66, 66) 100%);
        /* background-color: #5e5d59; */
        width: 80%;
        border: none;
        padding: 0.75rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 1.5rem/50%;
        transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        margin-bottom: 3%;
        margin-left: 11%;
    }
      .card2 .actions .delete-btn button:hover {
        background-color: #adaaa0;
        transform: scale(1.1);
      }
      .card2 .actions .delete-btn button:active {
        background-color: #858179;
        transform: scale(1);
      }

      .card2 .actions .match-btn button {
        color: inherit;
        font: inherit;
        font-weight: bold;
        background: linear-gradient(0deg,#d34f7b 0%,#eb7b4f 100%);
        /* background-color: #ffd01a; */
        width: 80%;
        border: none;
        padding: 0.75rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 1.5rem/50%;
        transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
        margin-left: 11%;
    }
      .card2 .actions .match-btn button:hover {
        background-color: #efb10a;
        transform: scale(1.1);
      }
      .card2 .actions .match-btn button:active {
        background-color: #e8a200;
        transform: scale(1);
      }
      .card2 .desc {
        text-align: center;
        padding: 0 2rem 2.5rem;
        order: 100;
      }