/* thiết lập chia cột bằng CSS */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}
/* thiết lập chiều dài cột khi màn hình nhỏ hơn 650px*/
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* thêm shadow cho class card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 500px;
  overflow:auto;
}
/* thêm padding trái và phải*/
.container {
  padding: 0 16px;
  height: 60%;
  overflow: auto;
}
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.name{
  text-align: center;
  color: rgb(128, 128, 128);
}
.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: DodgerBlue;
  text-align: center;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.button:hover {
  background-color: DeepSkyBlue;
}